@import '_uncommon.css';

@mixin button primary;



body {
  @mixin clearfix;
  /*background-image: url('front/body.jpg');*/
  background-color: color(var(--color-primary-1) shade(50%));
  width: var(--foobar);
  height: var(--barsu);
  transition: all 200ms ease;
}

.container {
  display: flex;
}

.item {
  background-color: #eee;
  margin: 1em;
  padding: 6em;
  animation-duration : 500ms;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.canvas {
  width: 700px;
  margin: 1em;
  height: 530px;
  background-color: #eee;
}

.canvas:hover .prop {
  top: 200px;
  left: 200px;
  transform: rotate(35deg);
}

.canvas:active .prop {
  top: 150px;
  left: 300px;
  transform: rotate(90deg);
}

.prop {
  position: relative;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background-color: #ccc;
  transition: 500ms all cubic-bezier(.45, .15, .30, 1);
}

@media only screen and (min-width: var(--foobar)) {
  display: block;
}

.search {
  @mixin clearfix;
}
