.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media only screen and (max-width: 399px) {
  
	.product-container {
	  width: 50%;
	}

	.product-container:nth-child(2n) {
		padding-right: 0;
	}
}

@media only screen and (min-width: 400px) and (max-width: 699px) {
  
	.product-container {
	  width: 33.3%;
	}

	.product-container:nth-child(3n) {
		padding-right: 0;
	}
}

@media only screen and (min-width: 700px) {
  
	.product-container {
	  width: 25%;
	}

	.product-container:nth-child(4n) {
		padding-right: 0;
	}
}

.product-container {
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}

.product {
	padding: 20px;
	border: 1px dashed #ccc;
	background-color: #eee;
	color: #666;
}

.product:hover {
	opacity: .5;
}
