# BEGIN GENERAL
Options +FollowSymLinks
RewriteEngine On
IndexIgnore */*
# END GENERAL

# BEGIN RULES
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.html
# END RULES
